.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: "Reem Kufi Fun", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 250px;
  width: 400px;
  background-color: white;
  border-radius: 2px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logout {
  font-family: "Reem Kufi Fun", sans-serif;
  margin-top: 20px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #ffffff;
  background-color: #007c89;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
}
.user_email {
  font-weight: 400;
  font-size: 20px;
}
.user_role {
  font-weight: 500;
  font-size: 20px;
}
